<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>Registration Successful</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
  <div class="container">
    <h1>Registration Successful</h1>
    <p>Congratulations! You have successfully registered.</p>
<!--    <a href="{% url 'login_render' %}">login</a>-->
    <a href="{% url 'login_render' %}" class="btn btn-primary btn-block">login</a>

    <script>
		function redirect() {
			window.location.href = "{% url 'login_render' %}";
		}
		setTimeout(redirect, 5000);
	</script>
  </div>
  </body>
</html>
